@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Medium.ttf');
}
@font-face {
    font-family: 'Yeseva One';
    src: url('../fonts/YesevaOne-Regular.ttf');
}
@font-face {
    font-family: 'Gentium Book';
    src: url('../fonts/GenBasR.ttf');
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.ttf');
}